
/*
 *
 *   10 Positivo CSS - Estilo Personalizado
 *   version 1
 *
*/
.label-premium{
    background-color: #ba9c02;
}

.label-simetrico{
    background-color: #9d0f09;
}

.label-comercial{
    background-color: #591282;
}

.label-dedicado{
    background-color: #980072;
}
